/*Component*/

.my-social-navbar-vert {
	list-style-type: none;
	display: inline-block;
	text-align: center;
}

.my-social-navbar-vert i {
	width: 1em;
	padding: 0.5em;
	font-size: 1.5em;
	transition: 200ms linear all;
}

.my-social-navbar-vert i:hover {
	width: 1.2em;
}

.my-social-navbar-vert a {
	color: white;
}

/*Extra Customization*/

.fa-facebook {
	background-color: #3B5998;
}

.fa-twitter {
	background-color: #55ACEE;
}

.fa-linkedin {
	background-color: #0077B5;
}

.fa-envelope {
	background-color: #202020; 
}



